/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Font  */

/* Nav Bar */

li a:hover {
    display: inline-block;
    border-bottom: 2px solid #fff;
}

/* Code Pin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #FA7D1E;
    font-family: 'Nunito', sans-serif;
    /* margin-bottom: 77px; */
}

.logo {
    color: #fff;
    font-size: 40px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 762px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;    
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FA7D1E;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* Code Pin */
/* Nav Bar */

/* Contact Me & Resume Button  */
.row {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%; 
}
.button1 {
    border: none;
    color: white;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.button1 {
    background-color: #FA7D1E;
    color: white;
}

.button1 {
    background-color: white; 
    color: #FA7D1E; 
    border: 2px solid #FA7D1E;
    border-radius: 20px
}

.button1:hover {
    background-color: #FA7D1E;
    color: #fff;
}
/* Contact Me & Resume Button  */

/* Home Page Content */
article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 77px;
    margin-bottom: 62px;
  }

#box-shadow {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}

.name {
    color: #FA7D1E;
}
.heading {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 77px; 
}

.intro {
    margin-top: 50px;
    width: 30rem;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    width: 100%
}

.home-content > * {
    margin-bottom: 30px;
}

/* Secondary Content */
.second-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}

.home-paragraph {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.45);
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
}

/* Footer */
    footer {
        font-family: 'Nunito', sans-serif;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        font-size: 14px;
        background-color: #F6F7F9;
        font-family: 'Nunito', sans-serif;
        color: rgba(0, 0, 0, 0.45);
    }

/* Tablet Display */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    article {
        justify-content: left;
        display: flex;
      } 
    
      #intro-2 {
          width: 25rem;
      }   
}

/* Desktop Display */
@media only screen and (min-width: 961px) {
    article {
        justify-content: left;
        padding-left: 225px;
        padding-right: 225px;
        display: flex;
    }

    .column {   
        flex: 50%;
    }

    #intro-2 {
       width: 25rem;
    }
    
    .home-img {
        padding-top: 40px;
    }

    .second-content {
        padding-left: 225px;
        padding-right: 225px; 
    }

    .home-content {
        float: left;
        width: 33.33%;
        padding: 10px;
    }

    .home-paragraph {
        width: 15rem;
    }
}

/* Home Page Content */







