/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
/* font */

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 25px 50px 50px;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    padding: 48px;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #FA7D1E;
}
/* Nav Bar */

/* Home Page Content */
/* .heading {
    margin-left: 200px;
}

.intro {
    margin-left: 200px;
    margin-top: 80px;
    width: 30rem;
}  */

.row-home {
    padding-left: 150px;
    padding-right: 150px;
}

.column-intro {
    margin-top: 50px;
    width: 30rem;
}


/* Home Page Content */

/* Contact Me & Resume Button  */
.button {
    border: none;
    color: white;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1:hover {
    background-color: #FA7D1E;
    color: white;
}

.button1 {
    background-color: white; 
    color: #FA7D1E; 
    border: 2px solid #FA7D1E;
    border-radius: 20px
}
.button2:hover {
    background-color: #FA7D1E;
    color: white;
}

.button2 {
    background-color: white; 
    color: #FA7D1E; 
    border: 2px solid #FA7D1E;
    border-radius: 20px
}
/* Contact Me & Resume Button  */


/* Blog Header */
header.blog-header {
    margin: -50px 50px;
    padding: 5px;
    font-size: 24px;
    text-align: left;
    background: white;
    text-decoration: underline 2px;
    color: #FA7D1E;
}

/* Blog content  */

.article {
    padding: 70px;
}

section.blog {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 9px -6px;   
}

.blog-img {
    width: 20rem;
    height: auto; 
}

.blog-content {
    font-size: 14px;
}
.blog {
    margin-bottom: 10px;
    padding: 10px 15px;
    width: auto;
}
/* Blog content  */

/* About Me Content */

/* About me Content */

* {
    box-sizing: border-box;
  }
  
article.row {
    padding: 70px;
}
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  article.row {
    margin: 8px -16px;
  }
  
  /* Content */
  .projects {
    background-color: white;
    padding: 70px;
  }
  